<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property file="${ig.folder}/config/ig-base.properties" />
	<property file="${ig.folder}/config/ig-web-service.properties" />
	
	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${FILE_SAVE_LOG}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				${logging.pattern.console} 
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${FILE_SAVE_BACKUP}
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_LOG_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>${SAVE.DAYS}</maxHistory>
			<cleanHistoryOnStart>${LOGS.CLEAR}</cleanHistoryOnStart>
		</rollingPolicy>

	</appender>

	<logger name="pe.com.synopsis.imgrabber" level="${LEVEL_LOG}"
		additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="error">
		<appender-ref ref="FILE-AUDIT" />
	</root>

</configuration>
